<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="Projects">
    
    <h2>Projects</h2>

    <div class="list" id="list">
        <div class="item">
          <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/35-512.png">
          <h2>PolyDessin 2</h2>
          <p class="Description">
            A Microsoft Paint Clone, built using NodeJs, Angular and TypeScript <br>
            Built for a school project. <br>
            <a href="https://github.com/kerv17/polydessin">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://www.freeiconspng.com/thumbs/cardiology-icon-png/cardiology-stethoscope-icon-15.png">
          <h2>Veto Sans Frontieres</h2>
          <p class="Description">
            System to access a simulated PostgresSQL Database for a Veterinarian organisation.
            Able to add and view animals to the database, view previous examinations, and generate bills.<br>
            Built for a school project. <br>
            <a href="https://github.com/kerv17/inf3710-VetoSansFronti-re">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://icon-library.com/images/refrigerator-icon/refrigerator-icon-7.jpg">
          <h2>Fridge-Core</h2>
          <p class="Description">
            System that allows users to buy now and pay later for the items in the community fridge 
            for the <i>Comic Inside</i> student organisation at Polytechnique Montreal <br>
            <a href="https://github.com/kerv17/Fridge-Core">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="http://cdn.onlinewebfonts.com/svg/img_532637.png">
          <h2>Jungle Fighter</h2>
          <p class="Description">
            Made in 2017, this platforming game was my first programming project, with the purpose
            of highlighting the issues of endangered species.
            This school project was built using Godot Engine. <br>
            <a href="https://github.com/kerv17/Jungle-Fighter">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://icon-library.com/images/zombie-icon/zombie-icon-17.jpg">
          <h2>No Zombies Land (WIP)</h2>
          <p class="Description">
              First conceptualised in a hackaton, this top-down 2D shooter is a long term project that I have been working on
              on and off, slowly optimizing using the knowledge I have accumulated over the years. <br>
              <a href="https://github.com/kerv17/zombieland">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://cdn2.iconfinder.com/data/icons/hobby-butterscotch-vol-1/512/Building_Robots-512.png">
          <h2>Robotics</h2>
          <p class="Description">
              Created C++ tools to control a captors and servos using a microcontroller.
              <a href="https://github.com/kerv17/INF1900">Github</a>
          </p>
        </div>
      
      
      </div>
</div>