<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="Projects">
    
    <h2>Projects</h2>


    <div class="list" id="list">
        <div class="item">
          <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/35-512.png">
          <h2>PolyDessin 2</h2>
          <p class="Description">
            A Microsoft Paint Clone, built using NodeJs, Angular and TypeScript <br>
            Built for a school project. <br>
            <a href="https://github.com/kerv17/polydessin">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://www.freeiconspng.com/thumbs/cardiology-icon-png/cardiology-stethoscope-icon-15.png">
          <h2>Veto Sans Frontieres</h2>
          <p class="Description">
            System to access a simulated PostgresSQL Database for a Veterinarian organisation.
            Able to add and view animals to the database, view previous examinations, and generate bills.<br>
            Built for a school project. <br>
            <a href="https://github.com/kerv17/inf3710-VetoSansFronti-re">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="https://icon-library.com/images/refrigerator-icon/refrigerator-icon-7.jpg">
          <h2>Fridge-Core</h2>
          <p class="Description">
            System that allows users to buy now and pay later for the items in the community fridge 
            for the <i>Comic Inside</i> student organisation at Polytechnique Montreal <br>
            <a href="https://github.com/kerv17/Fridge-Core">Github</a>
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/c++.svg">
          <h2>C++</h2>
          <p class="Description">
            With a college formation in this language,
            I can create small programs that can be used for Robotics.
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/sql.png">
          <h2>SQL</h2>
          <p class="Description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Maecenas egestas efficitur elit ac pulvinar. Cras et augue eget nibh feugiat sollicitudin nec et justo. 
              Nunc et justo tempor metus sagittis sodales at sed mauris.
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/Godot_icon.svg">
          <h2>Game Dev</h2>
          <p class="Description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Maecenas egestas efficitur elit ac pulvinar. Cras et augue eget nibh feugiat sollicitudin nec et justo. 
              Nunc et justo tempor metus sagittis sodales at sed mauris.
          </p>
        </div>
      
      
      </div>
</div>