
.titlediv {
    background-color: var(--header-color);
    align-self: center;
    padding: 5% 0% 5%;
    display:flex;
    min-height: auto;
}

.logo {
    margin: auto;
    display: grid;
}
.logo > img {
    height: 10vw;
}

.title,.subtitle,.contact-me {
    color: white;
    border-radius: 4px;
    margin: auto;
    font-size: 4vw;
    font-family:var(--title-font);
}

    .subtitle {
        font-size: 2.5vw;
    }

    .contact-me {
        background-color: darkcyan;
        font-size: 2em;
        margin-top: 30px;
        padding: 20px;
        border: 2px black solid;
        border-radius: 15px;
        text-decoration: none;

    }
        .contact-me:hover {
            background-color: rgb(0, 110, 110);
        }

        .links {
            margin: auto;
            
            display: flex;
            color: white;
            font-family: var(--title-font);
        }

            .links > a {
                padding: 30px 30px 0px;
                font-size: 2vw;
            }

            .links > a:hover {
                color: lightgray;
            }

#Proficiencies {
    background-color: var(--background-color);
    color: white;
    font-family: var(--title-font);
    width: 100%;
}
    #Proficiencies > h2 {
        width: calc(100%-50px);
        text-align: center;
        padding: 100px 50px 25px;
        font-size: 4vh;
    }

.list {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    
    //grid-template-rows: ;
}
        .item {
            margin: auto;
            justify-items: center;
            align-items: center;
            width: 100%;
        }
            .item > img {
                width: 25%;
                margin: 12.5% 37.5%;
            }

            .item > h2{
                width: fit-content;
                margin:auto;
            }

            .item > p {
                text-align: center;
                padding: 20px;
            }

a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightgrey;
}