.titlediv {
    background-color: rgb(177, 80, 65);
    align-self: center;
    padding: 10% 0% 10%;
    display:flex;
}

.logo {
    margin: auto;
    display: grid;
}

.titleh1 {
    color: white;
    display: flex;
    border-radius: 4px;
    align-self: center;
    display: inline-flex;
    margin: auto;
    text-align: center;
    font-size: 5em;
    font-family:'Quicksand';
}

.titleh2 {
    color: white;
    display: flex;
    border-radius: 4px;
    align-self: center;
    flex-grow: 0.1;
    margin: auto;
    text-align: center;
    font-size: 3em;
    font-family:'Quicksand';
}

p {
    font-size: 6em;
}